.appShell {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-bg-light);
  /* Esto es vital para que el Outlet y el MfeLoader hereden el alto */
  display: flex;
  flex-direction: column;
}

.contentFadeIn {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
